anyio==3.5.0
asgiref==3.5.0
certifi==2023.7.22
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.1
colorama==0.4.4
cryptography==36.0.2
dnspython==2.4.0
email-validator==1.2.1
et-xmlfile==1.1.0
fastapi==0.75.0
fastapi-utils==0.2.1
greenlet==1.1.2
gurobipy==10.0.2
h11==0.13.0
httpcore==0.17.3
idna==3.3
ldap3==2.9.1
mysqlclient==2.1.0
numpy==1.25.1
openpyxl==3.0.9
pandas==1.4.2
pyasn1==0.4.8
pycparser==2.21
pydantic==1.9.0
PyJWT==2.4.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-multipart==0.0.6
pytz==2023.3
requests==2.27.1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.35
starlette==0.17.1
typing_extensions==4.1.1
urllib3==1.26.16
uvicorn==0.17.6
xlrd==2.0.1