body {
  background-image: url("../../assets/5105270.png");
  background-size: cover;
}

.produce-period-background {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.produce-period-info {
  font-family: "Lato";
  font-size: 14px;
}

.produce-period-info-heading {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  font-size: 24px;
  padding: 15px 100px;
  color: #333333;
}

.produce-period-navigation-bar {
  display: flex;
  font-family: "Lato";
  justify-content: space-between;
  padding: 8px 340px 0;
  width: 900px;
  margin-top: 2px;
  margin-bottom: 50px;
}
.produce-period-info-input-container {
  margin-top: 20px;
  margin-left: 245px;
  padding: 10px; /* Add padding for spacing */
  width: 1050px;
  border-radius: 23px; /* Adjust the roundness of the edges */
  height: 370px;
  background-color: rgba(255, 255, 255, 0.6);
  /* opacity: 0.7; */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
}
.produce-period-info-details {
  display: flex;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  font-size: 18px;
  text-align: left;
  font-size: 18px;
  padding-left: 20px;
  padding-bottom: 10px;
  color: #000000;
}

.produce-period-info-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 45px;
  margin-bottom: 20px;
  width: 960px;
  min-height: 215px;
  border: 1px dashed #797979;
  border-radius: 16px;
}

#form-file-upload {
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

/* #label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
} */

#label-file-upload.drag-active {
  background-color: #ffffff;
}

.upload-button {
  text-align: center;
  cursor: pointer;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  /* color: #666666; */
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.upload-file {
  display: flex;
  margin-top: 10px;
  width: 180px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  border: none;
  opacity: 0.7;
  background-color: transparent;
}

.drag-files {
  /* margin-top: 0; */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #666666;
}

.produce-period-info-button-container {
  display: flex;
  align-items: center;
  margin-top: 200px;
}

.file-status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  width: 600px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #e4e4e4;
}

.file-icon {
  /* margin-top: 4px; */
  display: flex;
  width: 9.25px;
  height: 12.333px;
  margin-right: 5px;
}

.file-name {
  color: #5e6e19;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 600;
  line-height: 22px;
  margin-right: 200px;
}

.file-progress {
  color: #5e6e19;
  font-size: 12px;
  font-family: "Lato";
  font-weight: 600;
  line-height: 22px;
  margin-right: 2px;
}
.horizontal-bar {
  width: 180px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: #5e6e19;
}

.produce-period-info-input-container .produce-period-info-upload-button {
  cursor: pointer;
  font-family: "Lato";
  font-size: 14px;
  line-height: 19px;
  width: 430px;
  height: 30px;
  background-color: #566418;
  border-radius: 12px;
  margin-top: 10px;
  margin-left: 45px;
  margin-right: 50px;
  color: #fff;
  font-weight: 700;
  opacity: 1 !important;
}
.next-period-info-button {
  cursor: pointer;
  font-family: "Lato";
  font-size: 14px;
  line-height: 19px;
  width: 960px;
  height: 30px;
  background-color: #566418;
  border-radius: 12px;
  margin-top: 10px;
  margin-left: 45px;
  color: #fff;
  font-weight: 700;
}
